{% extends 'web/basicLayout.html' %}

{% block csslinks %} 
{% load static %}
<link rel="stylesheet" href="{% static 'web/css/events.css' %}">
{% endblock %}

{% block title %}
    Past Events
{% endblock %}

{% block isevents %}active{% endblock %}


{% block body %}
<!--EVENTS-->
{% load static %}
<div class="Events container-fluid mx-0 px-0">
    <div class="causes">

        <h1 class=" eventhead">Past Events</h1>
        <ul class=" eventhead eventsul pt-3">
            <li >
                <a href="{% url 'homePage' %}">HOME</a>
            </li>
            <li> /</li>
            <li>
                <a href="{% url 'pastEvents' %}">EVENTS</a>
            </li>

        </ul>
    </div>
</div>
<div class="mx-3">
    <script>
        // console.log(`{{allEvents.0.date.time}}`);
    </script>

    <div class="row mt-4">
    {% for event in allEvents %}
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-5  ">
                        <div class="onhoverimg">
                            <a class="" href="">
                                <img src="/media/{{event.main_image}} " class="event-card-img   rounded-bottom rounded-top" alt="...">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-7 center-contents">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'singleEvent' event.id %}">{{event.title}}</a></h5>
                            <ul class="card-text">
                                <li class="mb-1"><i class="fa fa-map-marker"></i> {{event.location}}</li>
                                <li class="mb-1"><i class="fa fa-clock-o"></i> {{event.date}} | {{event.time}}</li>
                            </ul>
                            <p class="card-text"></p>
                            <a href="{% url 'singleEvent' event.id %}">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
      </div><div class="row mt-4">
        {% endif %}
    {% endfor %}
    </div>
    </div>

    
    <!-- <div class="row mt-4">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5  ">
                        <div class="onhoverimg">
                            <a class="onhover" href="">
                                <img src="{% static 'web/imgs/galery-1.jpg' %}" class="event-card-img   rounded-bottom rounded-top" alt="...">
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Possit nostro aeterno eu vis, ut cum quem reque</a></h5>
                            <ul class="card-text">
                                <li><i class="fa fa-map-marker"></i> 24 October,2018</li>
                                <li><i class="fa fa-clock-o"></i> 2736 Minkle deegan lake road </li>
                            </ul>
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.<a href="#">Read More</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5  ">
                        <div class="onhoverimg">
                            <a class="onhover" href="">
                                <img src="{% static 'web/imgs/galery-1.jpg' %}" class="event-card-img   rounded-bottom rounded-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Possit nostro aeterno eu vis, ut cum quem reque</a></h5>
                            <ul class="card-text">
                                <li><i class="fa fa-map-marker"></i> 24 October,2018</li>
                                <li><i class="fa fa-clock-o"></i> 2736 Minkle deegan lake road </li>
                            </ul>
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.<a href="#">Read More</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row  ">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5  ">
                        <div class="onhoverimg">
                            <a class="onhover" href="">
                                <img src="{% static 'web/imgs/galery-1.jpg' %}" class="event-card-img   rounded-bottom rounded-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Possit nostro aeterno eu vis, ut cum quem reque</a></h5>
                            <ul class="card-text">
                                <li><i class="fa fa-map-marker"></i> 24 October,2018</li>
                                <li><i class="fa fa-clock-o"></i> 2736 Minkle deegan lake road </li>
                            </ul>
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.<a href="#">Read More</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5  ">
                        <div class="onhoverimg">
                            <a class="onhover" href="">
                                <img src="{% static 'web/imgs/galery-1.jpg' %}" class="event-card-img   rounded-bottom rounded-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Possit nostro aeterno eu vis, ut cum quem reque</a></h5>
                            <ul class="card-text">
                                <li><i class="fa fa-map-marker"></i> 24 October,2018</li>
                                <li><i class="fa fa-clock-o"></i> 2736 Minkle deegan lake road </li>
                            </ul>
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.<a href="#">Read More</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="row  ">
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5  ">
                        <div class="onhoverimg">
                            <a class="onhover" href="">
                                <img src="{% static 'web/imgs/galery-1.jpg' %}" class="event-card-img   rounded-bottom rounded-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Possit nostro aeterno eu vis, ut cum quem reque</a></h5>
                            <ul class="card-text">
                                <li><i class="fa fa-map-marker"></i> 24 October,2018</li>
                                <li><i class="fa fa-clock-o"></i> 2736 Minkle deegan lake road </li>
                            </ul>
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.<a href="#">Read More</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5  ">
                        <div class="onhoverimg">
                            <a class="onhover" href="">
                                <img src="{% static 'web/imgs/galery-1.jpg' %}" class="event-card-img   rounded-bottom rounded-top" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Possit nostro aeterno eu vis, ut cum quem reque</a></h5>
                            <ul class="card-text">
                                <li><i class="fa fa-map-marker" "></i> 24 October,2018</li>
                                <li><i class="fa fa-clock-o"></i> 2736 Minkle deegan lake road </li>
                            </ul>
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to
                                additional content. This content is a little bit longer.<a href="#">Read More</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div> -->
</div>

{% endblock %}

